<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ .Site.BaseURL }}about'>
                <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.jpg"/>
            </a>
            <h1>{{ .Site.Params.name }}</h1>
            <h2>{{ .Site.Params.bio | markdownify }}</h2>

            <a href="https://www.paypal.me/danibram">
                <img src="https://img.shields.io/badge/❤%20support-paypal-blue.svg?style=flat-square" style="height:20px;margin:10px 0 0 0;"alt="Support link">
            </a>

        </header>
    </section>
</div>
